chromadb
ctransformers
InstructorEmbedding
langchain
langchain-community
llama-cpp-python
librosa
pypdfium2
pyyaml
sentence-transformers
streamlit
starlette>=1.0.0
streamlit-mic-recorder
transformers